@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* { 
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    background-color: #040e05;
    color: rgb(28, 236, 0);
    overflow: hidden;
    margin: 0;
    -webkit-text-fill-color: rgba(7,97,7,0.1);
    -webkit-text-stroke: 1px rgb(28, 236, 0);

}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-stroke-width: .5px;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    
}
ul{
    padding: 0;
}

nav li {
    margin: 5px;
    display: inline;
    list-style-type: none;
    cursor: pointer;
    

}

nav li i {
    margin-right: 3px;
}

.hero {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    font-size: 3rem;
    -webkit-text-stroke-width: 1px;
    text-shadow: 0 0 1px rgba(1, 7, 0, 0.788), 0 0 3px rgba(48, 241, 27, 0.788);
}

.canvas1,canvas2{
    z-index: -100;
}